<%- include('../patch/topper.ejs') %>

<div class="bg-black   text-white flex">
  
  <!-- Sidebar for profile -->
  <%- include('./profileSidebar.ejs') %>
  <!-- Sidebar end -->

  <div class="flex-1 p-4 w-full">
    <h1 class="text-4xl font-bold mb-6 mt-5 text-center text-gradient">My Wallet</h1>

    <!-- Wallet Balance Section -->
    <% if (wallet && wallet.balance > 0) { %>
    <div class="flex justify-center mb-6">
      <div class="bg-gradient-to-r  from-yellow-700 to-orange-800 p-8 rounded-lg shadow-lg text-center transform transition-transform hover:scale-105">
        <h2 class="text-2xl font-semibold">Current Balance</h2>
        <p class="text-2xl mt-2 font-bold">₹<%= wallet.balance.toFixed(2) %></p>
      </div>
    </div>
    <% } else { %>
      <!-- <p class="text-center mt-8">No wallet found.</p> -->
    <% } %>

    <!-- Add Money Input Field -->
    <div id="addMoneyInput" class="hidden mb-6 flex justify-center">
      <input type="number" id="amount" placeholder="Enter amount" class="p-2 rounded-lg bg-black border border-gray-800 focus:outline-none focus:border-orange-500" />
      <button id="confirmAdd" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg ml-2">
        Confirm
      </button>
    </div>

    <!-- Transaction History Section -->
    <div class="overflow-x-auto">
      <table class="min-w-full bg-black border-2 border-gray-800 text-white rounded-lg shadow-lg">
        <thead class="bg-black border-b border-gray-800 ">
          <tr>
            <th class="py-3 px-4 text-left text-orange-500">Date</th>
            <th class="py-3 px-4 text-left text-orange-500">Type</th>
            <th class="py-3 px-4 text-left text-orange-500">Amount</th>
            <th class="py-3 px-4 text-left text-orange-500">Order ID</th>
          </tr>
        </thead>
        <tbody class="bg-black">
          <% if (wallet && wallet.transaction && wallet.transaction.length > 0) { %>
            <% wallet.transaction.forEach(transaction => { %>
              <tr class="border-b border-gray-600 hover:bg-gradient-to-r from-red-600 to-yellow-400 transition-colors">
                <td class="py-2 px-4"><%= new Date(transaction.transactionDate).toLocaleDateString() %></td>
                <td class="py-2 px-4"><%= transaction.transactionType %></td>
                <td class="py-2 px-4">₹<%= transaction.walletAmount.toFixed(2) %></td>
                <td class="py-2 px-4"><%= transaction.order_id || 'N/A' || order_id%></td>
              </tr>
            <% }); %>
          <% } else { %>
            <tr>
              <td colspan="4" class="text-center py-2">No transactions found.</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  
</div>

<%- include('../patch/bottom.ejs') %>
